@font-face {
  font-family: "game-of-thrones";
  src: url(fonts/game-of-thrones.ttf) format("truetype");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url("./img/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: game-of-thrones;
  display: inline-block;
  letter-spacing: 0.1em;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #1f1f1f;
}

h1 {
  padding: 1rem;
}

.game-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  color: white;
}

#game-button {
  color: white;
  padding: 10px 10px;
  border: solid 1px #f5f5f5;
  border-radius: 3px;
  font-family: game-of-thrones;
  background-color: transparent;
  margin-bottom: 0;
  outline: none;
  width: 120px;
  letter-spacing: 0.1em;
}

.stats,
.success {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 20px 12px;
  line-height: 1.25rem;
}

.stats {
  height: 100px;
  width: 200px;
  visibility: hidden;
}

.stats h4,
.success h4 {
  margin-bottom: 0.75rem;
  text-align: center;
}

.stats div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats div h6 {
  margin-right: 20px;
}

.board,
.success {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success p {
  line-height: 1.75em;
}

.tile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tile {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 6px 10px 54px -3px rgba(0, 0, 0, 0.75);
}

.side-a,
.side-b {
  backface-visibility: hidden;
}

.side-a {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(246, 246, 246, 0.5) 30%,
    rgba(10, 2, 10, 0.8) 100%
  );
}

.side-b {
  position: absolute;
  border-radius: 5px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateY(180deg);
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.side-b img {
  width: 100%;
  align-self: center;
  border-radius: 5px;
}

/* .card:hover {
  transform: rotateY(-180deg);
} */

.card {
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

footer p {
  font-size: 0.5em;
  letter-spacing: 0.75em;
}

footer a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in;
}

footer a:hover {
  color: #1f1f1f;
  opacity: 0.65;
}
